@{
    ViewBag.Title ="Invalid Token";
}

        <div class="row">
            <div class="col-xs-12">
                <h2>
                    InvalidToken
                </h2>
            </div>
            <div class="col-xs-12 class=" text-center"">
                <div><p>Your token is invalid or has expired. Please try to register again.</p></div>
                <div><p>Remember to complete your registration within 24 hours.</p></div>
            </div>
        </div>
    
