@{
    ViewBag.Title = "Image";
}
<div class="row">
    <div class="col-xs-12">
        <h3>Upload your images</h3>
    </div>
    <div class="col-xs-12 text-center">
        <h5> Valid formats include jpeg, jpg,tif, gif,png</h5>
    </div>
</div>

<form role="form" id="image_form" enctype="multipart/form-data">

    <div class="row">
        <div id="image_one_parent" class="error col-xs-4">

            <div class="form-group ">
                <input type="file" id="image_one" class="form-control" required />
            </div>
        </div>
        <div id="image_two_parent" class="error col-xs-4">

            <div class="form-group ">
                <input type="file" id="image_two" class="form-control" />
            </div>
        </div>
        <div id="image_three_parent" class="error col-xs-4">

            <div class="form-group ">
                <input type="file" id="image_three" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input type="submit" class="btn btn-primary" role="button" value="Submit" />
        </div>
    </div>
</form>
<div>
    <script src="~/scripts/CarClassified/CarClassified.js"></script>
    <script src="~/scripts/CarClassified/Services/PostService.js"></script>
    <script src="~/scripts/CarClassified/Controllers/ImageController.js"></script>
    <script type="text/javascript">
        new CarClassified.Controllers.ImageController(new CarClassified.Services.PostService);
    </script>
</div>
